.card {
    background-color: #fff;
    height: 200px;
    width: 400px;
    color: #333;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.card .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.card .content {
    display: flex;
    gap: 10px;
}

.card .description {

    flex: 2;
}

.card .image {
    flex: 1;

    display: flex;
    justify-content: end;
}

.avatar {
    width: 120px;
    height: 120px;
    object-fit: fill;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}